API_PORT=
CLIENT_HOST=http://localhost:3000
ADMIN_HOST=http://localhost:3001
POSTGRES_HOST=postgres
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=
POSTGRES_DATABASE=theory-driving-test
POSTGRES_PORT=5432
POSTGRES_URL=https://lfohgbxhuqhamzmoagnt.supabase.co
NODE_ENV=development
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
API_URL=http://localhost:5173
JWT_SECRET="JWT_SECRET"